<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Postt</title>
</head>
<body>
    <h2>Edit your Post</h2>
    <p>Post id :</p>
    <p>Post username:</p>
    <form action="">
        <textarea ></textarea>
        <button>Submit</button>
    </form>
</body>
</html>